body {
  margin: 0;
  font-family: inter;
  background-color: #282d35;
  color: aliceblue;
}

.nav-- {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #171b20;
  height: 11vh;
}

.nav--container {
  display: flex;
  align-items: center;

}

.nav--img,
.nav--h2 {
  margin: 10px;

}

.nav--h2:hover{
    color: aliceblue;
}

.nav--h2 {
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

.nav--h3 {
  margin: 5px 20px;
  color: white;
}

.nav--img {
  width: 40px;
  height: 40px;
}

.main-- {
  font-size: 20px;
  margin: 10px 50px;
}

.main--unorderedList {
  font-size: 15px;
  line-height: 2;
}
.main--unorderedList > li::marker {
  color: #61dafb;
  font-size: 20px;
}

.main--title{
    letter-spacing: -0.5px;
}
a{
    text-decoration: none;
}
